@page
@model CentralSecurityServiceAdmin.Pages.DevelopmentModel
@{
    ViewData["Title"] = "Development";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Heritage, Legacy, Societal Development">
}

<h1>Development</h1>

<div>@Model.Message</div>
<br />
