@page
@model CentralSecurityServiceAdmin.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Heritage, Legacy, Societal Development">
}

<h1>Reset Password</h1>

<form method="POST">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div>@Model.Message</div>
        <br />
    }

    @if (Model.State == ResetPasswordModel.ResetPasswordState.EnterEMailAddress)
    {
        <div>E-Mail Address: <input type="text" id="eMailAddressId" autofocus asp-for="EMailAddress" />
            <input type="submit" name="Action" value="Use E-Mail Address" />
            <input type="submit" name="Action" value="Cancel" />
        </div>

        <br />
    }
    else if (Model.State == ResetPasswordModel.ResetPasswordState.EnterResetCode)
    {
        <input type="hidden" id="eMailAddressId" asp-for="EMailAddress" />

        <div>E-Mail Address: @Model.EMailAddress</div>

        <br />

        <div>Password Reset Code: <input type="text" id="passwordResetCodeId" autofocus asp-for="PasswordResetCode" />
            <input type="submit" name="Action" value="Use Reset Code" />
            <input type="submit" name="Action" value="Request New Reset Code" />
            <input type="submit" name="Action" value="Cancel" />
        </div>

        <br />
    }
    else if (Model.State == ResetPasswordModel.ResetPasswordState.EnterNewPassword)
    {
        <input type="hidden" id="eMailAddressId" asp-for="EMailAddress" />
        <input type="hidden" id="passwordResetCodeId" asp-for="PasswordResetCode" />

        <div>E-Mail Address: @Model.EMailAddress</div>
        <br />
        <div>NOTE: The New Password must contain at least one uppercase letter, one lowercase letter, and one digit.</div>
        <br />

        <div>New Password: <input type="password" autofocus asp-for="NewPassword" /></div>
        <div>Confirm New Password: <input type="password" asp-for="ConfirmNewPassword" /></div>

        <br />

        <div>
            <input type="submit" name="Action" value="Set New Password" />
            <input type="submit" name="Action" value="Cancel" />
        </div>

        <br />
    }
    else if (Model.State == ResetPasswordModel.ResetPasswordState.Completed)
    {
        <a href="/SignIn">Sign In</a>

        <br /><br />
    }
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
